.item-contacto {
    font-family: monospace;
    font-size: 1rem;

    background-color: rgb(155, 185, 255);

    border: 1px solid #0066ff;
    border-radius: 5px;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
    padding: 0.5rem;
}