* {margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 10px;
  background-color: rgb(208, 255, 204);
}

#nav {
  height: 110vh;
  border: 1px solid #22ff00;
}

#container {
  height: 100vh;
  border: 1px solid #2600ff;
  background-color:  rgb(92, 105, 136);
  }